.main {
  margin: 1rem;
  font-size: 1.2rem;
  line-height: 130%;
}

.profile {
  font-size: 1rem;
  text-align: left;
  margin: 0 1rem;
}

.profile a span {
  margin-left: 0.5rem;
}

.profile a:hover {
  color: red;
}