.main {
  position: absolute;
  width: 100%;
  bottom: 0; }

.error {
  background-color: red;
  color: white;
  text-align: center;
  margin: 1rem;
  padding: 1rem; }

.info {
  background-color: lightblue;
  text-align: center;
  margin: 1rem;
  padding: 1rem; }
